.header_div {
    display: flex;
    justify-content: center;
    top: 0;
    align-items: center;
}

.header_title {
    margin: 1em 0 1em 0;
}

.header_button {
    margin: 1em;
    padding: 0.5em;
}